name: Matrix
on: [push]

jobs:
    node-matrix:
        continue-on-error: false
        strategy: 
            matrix:
                os: [ubuntu-latest, windows-latest]
                node-version: [14,15,16]
            max-parallel: 3 # to limit how many parallel jobs can run at a time in w.f
        runs-on: '${{ matrix.os }}'
        steps:
            - run: node -v
            - uses: actions/setup-node@v3
              with:
                node-version: '${{ matrix.node-version }}'
            
             
