name: calling Reusable workflow
on: 
    workflow_dispatch:
        inputs:
            name:
                description: "Input Description"
                type: string
                default: "All"
                required: true
jobs:
    calling-reusable-WF:
        uses: sreeja-gha-course/workflows/.github/workflows/reusable.yaml@main
        with:
            name: ${{ inputs.name }}
        secrets:
            access-token: ${{ secrets.ACCESS_TOKEN }}
